{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Movie Reviews</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
  </head>
  <body>
    <header>
      <nav>
        <a href="{% url 'reviews:index' %}">Home</a>
        <a href="{% url 'users:logout' %}">Logout</a>
      </nav>
    </header>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>Add a New Movie Title and a Review:</h1>
    <form action="{% url 'reviews:create' %}" method="post">
      {% csrf_token %}
      Movie Title:
      <select name="movie_id">
        <option value="None">Movie Title</option>
        <!-- Allow user to choose movie_id from database -->
        {% for movie in movies %}
        <option value="{{movie.id}}">{{movie.title}}</option>
        {% endfor %}
      </select>
      <p>Or add a new movie:</p>
      <input type="text" name="new_movie" placeholder="Movie Title">
      Director Name:
      <select name="director_id">
        <option value="None">Director Name</option>
        <!-- Allow user to choose director from database -->
        {% for director in directors %}
        <option value="{{director.id}}">{{director.name}}</option>
        {% endfor %}
      </select>
      <p>Or add a new director:</p>
      <input type="text" name="new_director" placeholder="Director Name">
      <h4>Review:</h4>
      <textarea name="review" rows="8" cols="40"></textarea>
      <p>Rating:</p>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
      <input type="submit" value="Add Movie and Review">
    </form>
  </body>
</html>
